body {
    font-family: Arial, sans-serif;
    background-color: #e6e3dc;
}

#site-title::after {
  content: var(--site-title-shadow-text);
  /* other styles */
}

.container {
    max-width: 1200px;
    width: 90vw;
    margin: 20px auto;
    box-sizing: border-box;
    padding: 0 15px;
}

form input {
    padding: 0.5em;
    margin-right: 0.5em;
    width: 70%;
}

form button {
    padding: 0.5em 1em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0.5em 0;
    padding: 0.3em;
    border-bottom: 1px solid #ccc;
}