{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
<h1 id="site-title">dyot</h1>

<ul class="nav-list">
    <li><a href="{{ url_for('views.choderlos') }}">Choderlos de Laclos</a></li>
    <li><a href="{{ url_for('views.surprises') }}">Surprises</a></li>
    <li><a href="{{ url_for('views.random_stuff') }}">Random</a></li>

    {% if username %}
        <li class="login-item">
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        </li>
    {% else %}
        <li class="login-item">
            <a href="{{ url_for('auth.login') }}">Login</a>
        </li>
    {% endif %}
</ul>
{% endblock %}