{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}

{% block content %}
{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}

<form method="POST">
  <input type="text" name="username" placeholder="Username" required>
  <input type="password" name="password" placeholder="Password" required>
  <div class="button-wrapper">
    <button type="submit">Log in</button>
  </div>
</form>
{% endblock %}